html {
    background-color: #222;
    height: 100%;
    overflow: hidden;
    font-family: 'HKGroteskMedium', "SF Pro", "Segoe UI", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100%;
}

h1,
h2 {
    font-family: 'HKGroteskExtraBold', "SF Pro", "Segoe UI", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
}

h3,
h4 {
    font-family: 'HKGroteskBold', "SF Pro", "Segoe UI", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #3594b4;
    border-radius: 0.5rem;
    transition: all ease 0.25s;
    border: 2px solid #ffffff00;
}

a:hover {
    background-color: #eefbff;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.08);
    border: 2px solid #3594b4;
}

a:active {
    box-shadow: none;
}

main {
    height: 100%;
}

main section {
    background-color: #fff;
    color: #111;
}

.container-center {
    width: 25rem;
    max-width: 100%;
    height: 90%;
    margin: 2rem auto;
    border-radius: 1.5rem;
    overflow-y: scroll;
}

@media (max-height: 800px) {
    .container-center {
        margin: 0 auto;
        height: 95%;
    }
}

section header {
    height: 5rem;
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.10);
}

section header img.logo {
    height: 90%;
    padding-left: 1rem;
    padding-right: 1rem;
}

section header h1 {
    font-size: 1.5rem;
    width: 100%;
    padding-right: 4rem;
}

section h2 {
    font-size: 1.4rem;
}

.card {
    border-radius: 1rem;
    border: 1px solid #ddd;
    background-color: #fafbfd;
    margin: 1rem;
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.10);
    padding: 1px;
    transition: all ease 0.25s;
}

.card figure {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card.get-started figure img {
    width: 80%;
}

.card h3 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.card h4 {
    font-size: 1.2rem;
}

.card aside {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.card .card-caption {
    background-color: #fff;
    border-radius: 0.98rem;
    padding: 1rem;
}

.card .card-caption a {
    width: 100%;
    padding: 0.5rem 1rem;
}

.mock-fill {
    width: 100%;
}