h2.ques-title {
    margin: 1rem 1rem;
}

.card.ques-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card.ques-options:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.10);
    transform: scale(1.01);
}

.card.ques-options:active {
    cursor: pointer;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.08);
    transform: scale(1);
}

.card.ques-options aside {
    margin: 1.5rem 1rem 1.5rem 0.5rem;
}

.card.ques-options figure img {
    height: 3rem;
    width: auto;
    max-width: unset;
}